<div [formGroup]="game" *ngIf="game">
  <div class="box">
    <div class="columns">
      <div class="column is-half">
        <div>
          <div>{{ game.get('date').value | date: 'short' }}</div>
        </div>
      </div>
      <div class="column has-text-right" *ngIf="locked">
        <span class="tag"><fa-icon [icon]="faLock"></fa-icon>Locked</span>
      </div>
    </div>
    <div class="columns is-mobile is-marginless is-vcentered is-multiline">
      <div class="column is-6">
        <div class="field">
          <div class="control">
            <div>{{ game.get('away').value }}</div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div>{{ game.get('home').value }}</div>
          </div>
        </div>
      </div>
      <div class="column is-6 has-text-centered">
        <div class="field is-pulled-right">
          <div class="control">
            <label
              class="button is-info"
              [for]="game.get('id').value + 'line-away-winner-radio'"
              [ngClass]="{
                'is-info': !locked,
                'is-static': locked,
                'is-outlined': lineWinner !== 'AWAY'
              }"
            >
              <input
                [id]="game.get('id').value + 'line-away-winner-radio'"
                type="radio"
                formControlName="lineWinner"
                value="AWAY"
                name="lineWinner"
              />
              {{ game.get('line').value.toString() | line: false }}
            </label>
          </div>
        </div>
        <div class="field is-pulled-right">
          <div class="control">
            <label
              class="button is-info"
              [for]="game.get('id').value + 'line-home-winner-radio'"
              [ngClass]="{
                'is-info': !locked,
                'is-static': locked,
                'is-outlined': lineWinner !== 'HOME'
              }"
            >
              <input
                [id]="game.get('id').value + 'line-home-winner-radio'"
                type="radio"
                formControlName="lineWinner"
                value="HOME"
                name="lineWinner"
              />
              {{ game.get('line').value.toString() | line: true }}
            </label>
          </div>
        </div>
      </div>
      <div class="column is-full has-text-centered">
        <div class="field">
          <div class="control">
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <label
                  class="button is-info"
                  [for]="game.get('id').value + 'over-winner-radio'"
                  [ngClass]="{
                    'is-info': !locked,
                    'is-static': locked,
                    'is-outlined': overunderWinner !== 'OVER'
                  }"
                >
                  <input
                    [id]="game.get('id').value + 'over-winner-radio'"
                    type="radio"
                    formControlName="overunderWinner"
                    value="OVER"
                    name="overunderWinner"
                  />
                  Over
                </label>
              </div>
              <div class="column has-text-centered">
                <label>
                  <p class="heading">O/U</p>
                  <div class="title is-6">{{ game.get('overunder').value }}</div>
                </label>
              </div>
              <div class="column">
                <label
                  class="button is-info is-pulled-right"
                  [for]="game.get('id').value + 'under-winner-radio'"
                  [ngClass]="{
                    'is-info': !locked,
                    'is-static': locked,
                    'is-outlined': overunderWinner !== 'UNDER'
                  }"
                >
                  <input
                    [id]="game.get('id').value + 'under-winner-radio'"
                    type="radio"
                    formControlName="overunderWinner"
                    value="UNDER"
                    name="overunderWinner"
                  />
                  Under
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
