<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4 has-text-centered">
        <h3 class="title has-text-grey">
          {{ isRegistering ? 'Register' : 'Login' }}
        </h3>
        <p class="subtitle has-text-gray">
          {{ isRegistering ? '' : 'Please login to proceed.' }}
        </p>
        <div class="box">
          <ng-content select=".error"></ng-content>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input
                  type="email"
                  placeholder="Email"
                  formControlName="email"
                  id="email"
                  class="input is-large is-medium"
                  [ngClass]="{
                    'is-danger': fieldInvalid('email'),
                    'is-success': fieldValid('email')
                  }"
                />
                <span
                  id="email-icon"
                  [ngClass]="{
                    'has-text-danger': fieldInvalid('email'),
                    'has-text-success': fieldValid('email')
                  }"
                  class="icon is-small is-left"
                >
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                <span
                  id="email-check"
                  class="icon is-small is-right has-text-success"
                  *ngIf="fieldValid('email')"
                >
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span
                  id="email-warning"
                  class="icon is-small is-right has-text-danger"
                  *ngIf="fieldInvalid('email')"
                >
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </span>
                <p id="email-format-invalid" class="help is-danger" *ngIf="emailFormatInvalid">
                  This email format is invalid
                </p>
                <p id="email-required" class="help is-danger" *ngIf="fieldRequired('email')">
                  Email address is required
                </p>
              </div>
            </div>
            <ng-container *ngIf="isRegistering">
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input
                    id="firstName"
                    [ngClass]="{
                      'is-danger': fieldInvalid('firstName'),
                      'is-success': fieldValid('firstName')
                    }"
                    class="input is-large is-medium"
                    type="text"
                    placeholder="First name"
                    formControlName="firstName"
                  />
                  <span
                    id="firstName-icon"
                    [ngClass]="{
                      'has-text-danger': fieldInvalid('firstName'),
                      'has-text-success': fieldValid('firstName')
                    }"
                    class="icon is-small is-left"
                  >
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
                  <span
                    id="firstName-check"
                    class="icon is-small is-right has-text-success"
                    *ngIf="fieldValid('firstName')"
                  >
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </span>
                  <span
                    id="firstName-warning"
                    class="icon is-small is-right has-text-danger"
                    *ngIf="fieldInvalid('firstName')"
                  >
                    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                  </span>
                  <p
                    id="firstName-required"
                    class="help is-danger"
                    *ngIf="fieldRequired('firstName')"
                  >
                    First name is required
                  </p>
                </div>
              </div>
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input
                    id="lastName"
                    [ngClass]="{
                      'is-danger': fieldInvalid('lastName'),
                      'is-success': fieldValid('lastName')
                    }"
                    class="input is-large is-medium"
                    type="text"
                    placeholder="Last name"
                    formControlName="lastName"
                  />
                  <span
                    id="lastName-icon"
                    [ngClass]="{
                      'has-text-danger': fieldInvalid('lastName'),
                      'has-text-success': fieldValid('lastName')
                    }"
                    class="icon is-small is-left"
                  >
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
                  <span
                    id="lastName-check"
                    class="icon is-small is-right has-text-success"
                    *ngIf="fieldValid('lastName')"
                  >
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </span>
                  <span
                    id="lastName-warning"
                    class="icon is-small is-right has-text-danger"
                    *ngIf="fieldInvalid('lastName')"
                  >
                    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                  </span>
                  <p
                    id="lastName-required"
                    class="help is-danger"
                    *ngIf="fieldRequired('lastName')"
                  >
                    Last name is required
                  </p>
                </div>
              </div>
            </ng-container>
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input
                  id="password"
                  [ngClass]="{
                    'is-danger': fieldInvalid('password'),
                    'is-success': fieldValid('password')
                  }"
                  class="input is-large is-medium"
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <span
                  id="password-icon"
                  [ngClass]="{
                    'has-text-danger': fieldInvalid('password'),
                    'has-text-success': fieldValid('password')
                  }"
                  class="icon is-small is-left"
                >
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <span
                  id="password-check"
                  class="icon is-small is-right has-text-success"
                  *ngIf="fieldValid('password')"
                >
                  <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span
                  id="password-warning"
                  class="icon is-small is-right has-text-danger"
                  *ngIf="fieldInvalid('password')"
                >
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </span>
                <p id="password-required" class="help is-danger" *ngIf="fieldRequired('password')">
                  Password is required
                </p>
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" />
                Remember me
              </label>
            </div>
            <button
              class="button is-block is-info is-large is-fullwidth"
              type="submit"
              [disabled]="!formValid"
            >
              {{ isRegistering ? 'Register' : 'Login' }}
            </button>
          </form>
        </div>
        <p class="has-text-gray">
          <a *ngIf="isRegistering; else loggingIn" routerLink="/auth/login"
            >Already have an account?</a
          >
          <ng-template #loggingIn>
            <a routerLink="/auth/register">Not registered?</a>
            &nbsp;·&nbsp;
            <a>Forgot Password</a>
          </ng-template>
        </p>
      </div>
    </div>
  </div>
</section>
