<div class="dashboard">
  <div class="container">
    <form [formGroup]="form">
      <current-week-header [season]="season" [week]="week" [form]="form"></current-week-header>
      <div class="section">
        <div formArrayName="games" class="columns is-multiline">
          <div
            class="column is-one-third"
            *ngFor="let game of form.get('games').controls; let i = index"
          >
            <pick-card [game]="form.get('games').controls[i]" [form]="form"></pick-card>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <div class="columns">
  <aside class="column is-1 section is-hidden-touch"><sidebar></sidebar></aside>
  <div class="column">
  </div>
</div> -->
